[Desktop Entry]
Type=Application
Name=Alpine Client
Comment=A lightweight multi-version Minecraft modpack
Exec=/usr/bin/alpine-client
Icon=/usr/share/pixmaps/alpine-client.png
Terminal=false
Categories=Game
Keywords=alpine;client;minecraft;